{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        ;;Notebook server
        io.github.nextjournal/clerk {:mvn/version "0.12.707"}
        ;; English WordNet Wrapper
        clojusc/wordnet {:mvn/version "1.2.0"}
        ;; Statistics
        kixi/stats {:mvn/version "0.5.4"}
        ;; Physics and Math
        sicmutils/sicmutils {:mvn/version "0.22.0"}
        ;; Semantic Web
        io.github.jackrusher/mundaneum {:git/sha "d2c934a12388d88ddb3e53fef92ec2eef97d6140"}
        ;; CLI Utils
        org.babashka/cli {:mvn/version "0.5.40"}
        ;; Logging
        org.slf4j/slf4j-nop {:mvn/version "1.7.36"}
        ;;Image IO
        ;;javax.media/jai_imageio {:mvn/version "1.1.1"}
        ;;Java Native Access (JNA)
        ;;net.java.dev.jna/jna {:mvn/version "5.13.0"}
        ;;Apache Commons IO
        ;;commons-io/commons-io {:mvn/version "2.11.0"}
        ;;Leptonica Image Processing Library
        ;;net.sourceforge.lept4j/lept4j {:mvn/version "1.18.0"}
        ;; Tesseract
        net.sourceforge.tess4j/tess4j {:mvn/version "5.6.0"}
        org.clojars.scottxtra/clj-ocr {:mvn/version "0.1.0-SNAPSHOT"}}
 :aliases
 {:run-m {:main-opts ["-m" "javierweiss.programacion-I"]}
  :run-x {:ns-default javierweiss.programacion-I
          :exec-fn serve-notebooks
          :exec-args 7777}
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.6.3" :git/sha "9b8e09b"
                  ;; since we're building an app uberjar, we do not
                  ;; need deps-deploy for clojars.org deployment:
                  :deps/root "slim"}}
          :ns-default build}
  :nextjournal/clerk {:extra-paths []
                      :exec-fn nextjournal.clerk/build!
                               ;; notebooks to be built, accepts globs patterns
                      :nextjournal.clerk/aliases [:clojure2d]
                      :exec-args {:git/url "https://github.com/javierrweiss/programacion-I"
                                  :paths ["src/javierweiss/notebooks/analizar_citas.clj"]}
                      :main-opts ["-m" "babashka.cli.exec"]}
  :clojure2d {:extra-deps {clojure2d/clojure2d {:mvn/version "1.4.4"}}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
